/*universal box-sizing reset*/
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
/*basic body config*/
body {    
    /*the default body has margin and a small viewport compared to the html size, so we do:*/
    margin: 0px;
    height: 100vh;
    /**/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

/**************cut above when merge with styles.css********************/

#bodyResultContainer {
    display: flex;
}

#bodyResultContainer>* {
    flex: 1 1 0;
}

.currentRound, .lateralRoundTitleLeft, .lateralRoundTitleRight {
    display: flex;
    flex-direction: column;
}

.lateralRoundTitleLeft, .h2Left {
    margin-right: auto;
}

.lateralRoundTitleRight, .h2Right {
    margin-left: auto;
}

/*.mainArea, .mainArea * {
    border: 2px solid red;
}
*/

.mainArea {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.computerArea, .userArea, .computerScore, .userScore {
    display: flex;
}

.computerArea>*, .userArea>*, .computerScore>*, .userScore>* {
    flex: 1 1 0;
}

.resultDisplay {
    text-align: center;
}

/*
.roundsDisplay, .roundsDisplay * {
    border: 2px solid red;
}
*/

.roundsDisplay {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.roundsDisplay * {
    margin: 0px;
}